.container {
  /* border: 2px solid salmon; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  /* border: 2px solid skyblue; */
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 100%;
}

.input {
  width: 20rem;
  height: 5rem;
  font-size: large;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 0;
}

.btn {
  border: 0;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 6px;
  background-color: whitesmoke;
}

.title {
  margin-bottom: 1rem;
}
